@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    background-image: url(../imgs/desktop/image-header.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1{
    font-size:40px ;
    color: white;
    font-family: 'Fraunces', serif;
    color: white;
    text-transform: uppercase;
    word-spacing: 10px;
    text-align: center;
    margin: 50px;
}

h2{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;    
    font-family: 'Fraunces', serif;
}

a{
    color: lightsalmon;
    font-family: 'Fraunces', serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

#nav-bar #opcoes-nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

#nav-bar #opcoes-nav li{
    list-style-type: none;
    margin: 0px 30px;
    color: white;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

#nav-bar #opcoes-nav li:hover{
    transition: .5s;
    transform: scale(1.2);
}

#nav-bar #opcoes-nav .contato{
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
}

#nav-bar #opcoes-nav .contato:hover{
    transition: .5s;
    background-color: rgb(144, 212, 197);
    color: white;
}

#nav-bar div p{
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 30px;
}

#burguer{
    display: none;
}

#bars{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bar1{
    display: block;
    background-color: white;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    margin-bottom: 3px;
    transition: 1s;
}

#bar2{
    display: block;
    background-color: white;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    margin-bottom: 3px;
    transition: 1s;
}

#bar3{
    display: block;
    background-color: white;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    transition: 1s;
}

.container{
    display: grid;
    grid-template-columns: auto 50vw;
}

.texto1, .texto2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto1 h2, .texto2 h2{
    text-align: justify;
    font-size: 50px;
    width: 35vw;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.texto1 p,.texto2 p{
    font-size: 20px;
    text-align: justify;
    width: 35vw;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Barlow', sans-serif;
    color: rgb(168, 168, 166);
}

.texto1 a,.texto2 a {
    display: block;
    margin: 0 auto;
    width: 35vw;
    font-size: 22px;
}

.texto1 a:hover, .texto2 a:hover{
    transition: .5s;
    color: #252525;
}

.foto1{
    background-image: url(../imgs/desktop/image-transform.jpg);
    height:40vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
}

.foto2{
    background-image: url(../imgs/desktop/image-stand-out.jpg);
    height:40vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0px;
}

.design{
    background-image: url(../imgs/desktop/image-graphic-design.jpg);
    height:600px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.design h2{
    color: rgb(33, 87, 74);
    padding-top: 350px;
    font-weight: 900;
}

.design p{
    color: rgb(61, 119, 109);
    font-weight: 600;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 25vw;
}

.fotografia{
    background-image: url(../imgs/desktop/image-photography.jpg);
    height:600px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fotografia h2{
    padding-top: 350px;
    color: rgb(26, 80, 102);
    font-weight: 900;
}

.fotografia p{
    color: rgb(22, 103, 141);
    font-weight: 600;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 25vw;
}

.testemunhas{
    margin: 100px 0px 70px 0px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(168, 168, 166);
    letter-spacing: 1.5px;
    font-size: 22px;
    font-weight: 900;
}

.testeminhas-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
}

.cliente {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 30px;
}

.texto-testemunha{
    font-family: 'Barlow', sans-serif;
    color: rgb(167, 168, 171);
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 30px;
    width: 25vw;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.nome-testemunha{
    font-family: 'Barlow', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 900;
    margin: 0px;
    text-align: center;
}

.cargo-testemunha{
    font-family: 'Barlow', sans-serif;
    color: rgb(215, 214, 212);
    font-weight: 700;
    margin: 0px 0px 100px 0px;
    text-align: center;
}

.imagens-finais{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw auto;
}

.leite{
    background-image: url(../imgs/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-position: center center;
    height: 25vw;
}

.laranja{
    background-image: url(../imgs/desktop/image-gallery-orange.jpg);
    background-size: cover;
    background-position: center center;
    height: 25vw;
}

.cone{
    background-image: url(../imgs/desktop/image-gallery-cone.jpg);
    background-size: cover;
    background-position: center center;
    height: 25vw;
}

.sugar{
    background-image: url(../imgs/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    background-position: center center;
    height: 25vw;
}

.info-finais{
    background-color: rgb(144, 212, 197);
}

.info-finais h2{
    margin: 0;
    padding: 50px 0px 30px 0px;
    color: rgb(61, 119, 109);
    font-weight: 900;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 20px;
}

.info-finais ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-finais ul li{
    list-style-type: none;
    padding-bottom: 80px;
    color: rgb(61, 119, 109);
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    margin: 0px 20px;
    cursor: pointer;
}

.info-finais ul li:hover{
    transition: .5s;
    color: white;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}

.redes-sociais img{
    margin: 0px 20px ;
    cursor: pointer;
}

.redes-sociais img:hover{
    transition: .5s;
    transform: scale(1.4);
}

.foto1-mobile{
    display: none;
    background-image: url(../imgs/mobile/image-transform.jpg);
}

.nav-bar-active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal{
    position: absolute;
    top: 18%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.405);
    cursor: default,;
    transition: 1s;
    opacity: 0;
}

#modal li {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    margin: 5px;
}